<a href="https://colab.research.google.com/github/coolapple/deployML2/blob/master/ML_Deployment_Flask_AWS_Marriage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
%cd drive/My\ Drive/ML_deployment_Flask_AWS_marriage_age_prediction/
#%cd drive/My\ Drive/ML_deployment_Flask_AWS_marriage_age_prediction

/content/drive/My Drive/ML_deployment_Flask_AWS_marriage_age_prediction

In [ ]:
!git clone https://github.com/ashokveda/ML_deployment_Flask_AWS_marriage_age_prediction.git

Cloning into 'ML_deployment_Flask_AWS_marriage_age_prediction'...
remote: Enumerating objects: 17, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 17 (delta 6), reused 13 (delta 4), pack-reused 0
Unpacking objects: 100% (17/17), done.

In [ ]:
import pandas as pd
data = pd.read_csv("/content/drive/My Drive/ML_deployment_Flask_AWS_marriage_age_prediction/age_of_marriage_data.csv")
print(data.shape)

(2567, 10)

In [ ]:
data.head()

   id  gender height  ...         location          country age_of_marriage
0   1  female   5'4"  ...           London   United Kingdom            21.0
1   2    male   5'7"  ...      Fairfax- VA              USA            32.0
2   3    male   5'7"  ...        Begusarai            India            32.0
3   4  female   5'0"  ...           Mumbai            India            30.0
4   5    male   5'5"  ...  Sulthan Bathery            India            30.0

[5 rows x 10 columns]

In [ ]:
data.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [ ]:
data.shape

(2567, 10)

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.shape

(1932, 10)

In [ ]:
data.head(2)

   id gender height  ...     location country age_of_marriage
1   2   male   5'7"  ...  Fairfax- VA     USA            32.0
2   3   male   5'7"  ...    Begusarai   India            32.0

[2 rows x 10 columns]

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
data.profession.unique()

In [ ]:
X = data.loc[:, ['gender', 'height', 'religion', 'caste', 'mother_tongue','country']]
y = data.age_of_marriage

In [ ]:
X.head()

   gender height   religion        caste mother_tongue country
1    male   5'7"       Jain   Shwetamber      Gujarati     USA
2    male   5'7"      Hindu      Brahmin         Hindi   India
3  female   5'0"      Hindu       Thakur         Hindi   India
4    male   5'5"  Christian   Born Again     Malayalam   India
5    male   5'5"      Hindu      Valmiki         Hindi   India

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['gender','religion','caste','mother_tongue','country']]= \
X.loc[:,['gender','religion','caste','mother_tongue','country']].apply(enc.fit_transform)

In [ ]:
X.head()

  gender height religion caste mother_tongue country
1      1   5'7"        2    34             6      19
2      1   5'7"        1    14             8       5
3      0   5'0"        1    36             8       5
4      1   5'5"        0    13            13       5
5      1   5'5"        1    38             8       5

In [ ]:
def h_cms(h):
    return int(h.split('\'')[0])*30.48+\
    int(h.split('\'')[1].replace('"',''))*2.54

In [ ]:
X.height.apply(h_cms)

1       170.18
2       170.18
3       152.40
4       165.10
5       165.10
         ...
2561    180.34
2562    160.02
2563    180.34
2564    160.02
2566    157.48
Name: height, Length: 1932, dtype: float64

In [ ]:
X.head()

  gender height religion caste mother_tongue country
1      1   5'7"        2    34             6      19
2      1   5'7"        1    14             8       5
3      0   5'0"        1    36             8       5
4      1   5'5"        0    13            13       5
5      1   5'5"        1    38             8       5

In [ ]:
X.drop('height',inplace=True,axis=1)

In [ ]:
X.head()

  gender religion caste mother_tongue country
1      1        2    34             6      19
2      1        1    14             8       5
3      0        1    36             8       5
4      1        0    13            13       5
5      1        1    38             8       5

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=80,max_depth=11)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE : ", mean_absolute_error(y_test,y_predict))
r2_score(y_test,y_predict)

MAE :  1.00886596030625

0.7223884805583085

In [ ]:
from sklearn.externals import joblib
joblib.dump(model,'marriage_age_predict_model.ml')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

NameError: ignored

#Loading Model

In [ ]:
# from sklearn.externals import joblib
# model = joblib.load('marriage_age_predict_model.ml')

/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.21.3 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator RandomForestRegressor from version 0.21.3 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [ ]:
# model.predict([[1, 2, 34, 6, 19, 3]]  )

array([32.94119492])

Flash Server

In [ ]:
#

In [ ]:
# from flask import request, Flask
# # app = flask.Flask(__name__)

In [ ]:
# @app.route('/whatever', methods = ['GET', 'POST'])
# def Whatever():
#   return { 
#       "status_code": 200,
#       'body': 'whatever',
#   }

In [ ]:
# app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://684d32aa6677.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [25/Jul/2020 23:48:46] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [25/Jul/2020 23:48:46] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [25/Jul/2020 23:50:35] "GET / HTTP/1.1" 404 -

In [ ]:
# main index page route
@app.route('/')
def home():
    return '<h1>API is working.. </h1>'

# main index page route

@app.route('/predict',methods=['GET'])

def predict():

    from sklearn.externals import joblib

    model = joblib.load('marriage_age_predict_model.ml')

    predicted_age_of_marriage = model.predict([[int(request.args['gender']),

                            int(request.args['religion']),

                            int(request.args['caste']),

                            int(request.args['mother_tongue']),

                            int(request.args['country']),

                            int(request.args['height_cms']),

                           ]])

    return str(round(predicted_age_of_marriage[0],2))

In [ ]:
#!pip install flask-ngrok
from flask_ngrok import run_with_ngrok
datadir = "/content/drive/My Drive/ML_deployment_Flask_AWS_marriage_age_prediction/"

app = Flask(__name__, template_folder = datadir)
run_with_ngrok(app)
app.run()

Requirement already satisfied: flask-ngrok in /usr/local/lib/python3.6/dist-packages (0.0.25)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.6/dist-packages (from flask-ngrok) (1.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=0.8->flask-ngrok) (1.1.1)
 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://2971c0998016.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [26/Jul/2020 00:12:46] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [26/Jul/2020 00:12:46] "GET /favicon.ico HTTP/1.1" 404 -

In [ ]:
# from flask_ngrok import run_with_ngrok
# from flask import Flask
# datadir = "/content/drive/My Drive/ML_deployment_Flask_AWS_marriage_age_prediction/"
# app = Flask(__name__, template_folder = datadir)
# run_with_ngrok(app)   #starts ngrok when the app is run
# # @app.route("/")
# # def home():
# #     return "<h1>Running Flask on Google Colab!</h1>"

In [ ]:
# @app.route('/API')
# def api():
#     return '<h1>API is working.. </h1>'

In [ ]:
# app.run()